$color-fondo: #7c167f;
$basepx: 16px;
$color-amarillo: #FFD743;
$color-header:#ef5349;
$divider-color:#BDBDBD;
$font-size-header:25px;
$header-text-color: #f1f3ff;
$palette-color1:#ef5349;
$palette-color2:#e5e7eb;
$palette-color3:#bbbbbb;
$palette-color4:#565656;
$palette-color5:#ffffff;
$palette-color6:#45444d;