/*Header and Footer*/

$color-header:#ef5349;
$font-size-header:25px;
$font-size-header-sm:12px;
$font-size-header-extra-sm:10px;
$header-text-color: #f1f3ff;

/*Paleta de Colores*/
$palette-color1:#ef5349;
$palette-color2:#e5e7eb;
$palette-color3:#bbbbbb;
$palette-color4:#565656;
$palette-color5:#ffffff;
$palette-color6:#45444d;