/*Aside Contacto*/
.aside {
    grid-area: aside;
}

.div__aside {
    margin-left: 15%;
    margin-top: 3%;
    border: 2px solid #CCCCCC;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background-color: transparent;

    h2 {
        text-align: center;
    }


    .div__aside__ul {
        list-style: none;
        padding: 0;
        font-size: 25px;
        text-align: start;
    }

    .div__aside__ul__li {
        padding-top: 5rem;
        list-style: none;
    }

    .div__aside__ul__li__a {
        text-decoration: none;
        color: white;

    }

    .div__icons {
        padding-top: 30%;
        display: flex;
        justify-content: space-around;


    }

    .icon__aside {
        width: 50px;
    }


}



@media (max-width: 700px) {

    /*Aside Empresa query*/
    .aside {
        grid-area: aside;
    }

    .div__aside {
        margin-left: 20%;
        margin-top: 40px;
        text-align: start;
        background-color: transparent;
        border-radius: 10px;
        height: 100%;
        width: 75%;



        .div__icons {
            padding-top: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;

        }

        .icon__aside {
            width: 30px;
        }

    }



    .div__aside__ul {
        font-size: 10px;
        list-style: none;
        padding: 5px;
        margin: 0;
    }

    .div__aside__ul__li {
        padding-top: 3rem;
        margin-right: 20px;
    }

    .div__aside__ul__li__a {
        text-decoration: none;
        color: white;
    }

    .div__icons {
        display: flex;
        margin-top: 40px;
        padding: 0;
        gap: 5px;


    }
}