.div__aside {
    margin-left: 15%;
    margin-top: 3%;
    padding: 10px;
    height: 100%;
    width: 70%;
    background-color: transparent;

    h2 {
        text-align: center;
        color:#FFD743 ;
    }


    .div__aside__ul {
        list-style: none;
        padding: 0;
        font-size: 25px;
        text-align: start;
    }

    .div__aside__ul__li {
        padding-top: 5rem;
        list-style: none;
    }

    .div__aside__ul__li__a {
        text-decoration: none;
        color: #000;

    }

    .div__icons {
        margin-top: 30%;
        display: flex;
        justify-content: space-around;
        

    }

    .icon__aside {
        width: 50px;
        background-color: white;
    }


}