.footer__index {
    grid-area: footer;
    background-color: $palette-color6;
    margin-top: 30%;
    width: 100%;
}
.footer {
    grid-area: footer;
    background-color: $palette-color6;
    margin-top: 1%;
    width: 100%;

    img {
        margin-top: 1%;
        width: 200px;
        position: relative;
        left: 45%;
    }

    .navbar {
        margin-top: 1%;
        display: flex;
        justify-content: center;
    }

    .ul__navbar {
        display: flex;
        gap: 25px;

        li {
            list-style: none;
        }

        a {
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 20px;
            margin-top: 5%;
            letter-spacing: 0.5px;
            padding: 0 10px;
        }

        a:after {
            content: "";
            position: absolute;
            background-color: white;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;

        }

        a:hover {
            color: #ffffff;
        }

        a:hover:after {
            width: 100%;
        }

    }
}

@media (max-width: 1400px) {
    .footer__index {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 40%;
        width: 100%;
    }
    .footer {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 3%;
        width: 100%;

        img {
            margin-top: 1%;
            width: 200px;
            position: relative;
            left: 45%;
        }

        .navbar {
            margin-top: 1%;
            display: flex;
            justify-content: center;
        }

        .ul__navbar {
            display: flex;
            gap: 25px;

            li {
                list-style: none;
            }

            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: 20px;
                margin-top: 5%;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;

            }

            a:hover {
                color: #ffffff;
            }

            a:hover:after {
                width: 100%;
            }

        }
    }
}

@media (max-width: 1200px) {
    .footer__index {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 40%;
        width: 100%;
    }
    .footer {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 3%;
        width: 100%;

        img {
            margin-top: 1%;
            width: 200px;
            position: relative;
            left: 45%;
        }

        .navbar {
            margin-top: 1%;
            display: flex;
            justify-content: center;
        }

        .ul__navbar {
            display: flex;
            gap: 25px;

            li {
                list-style: none;
            }

            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: 20px;
                margin-top: 5%;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;

            }

            a:hover {
                color: #ffffff;
            }

            a:hover:after {
                width: 100%;
            }

        }
    }
}


@media (max-width: 996px) {
    .footer__index {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 60%;
        width: 100%;
    }
    .footer {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 3%;
        width: 100%;

        img {
            margin-top: 1%;
            width: 200px;
            position: relative;
            left: 45%;
        }

        .navbar {
            margin-top: 1%;
            display: flex;
            justify-content: center;
        }

        .ul__navbar {
            display: flex;
            gap: 25px;

            li {
                list-style: none;
            }

            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: 20px;
                margin-top: 5%;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;

            }

            a:hover {
                color: #ffffff;
            }

            a:hover:after {
                width: 100%;
            }

        }
    }
}

@media (max-width: 768px) {
    .footer__index {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 62%;
        width: 100%;
    }
    .footer {
        grid-area: footer;
        background-color: $palette-color6;
        margin-top: 3%;
        width: 100%;

        img {
            margin-top: 1%;
            width: 200px;
            position: relative;
            left: 45%;
        }

        .navbar {
            margin-top: 1%;
            display: flex;
            justify-content: center;
        }

        .ul__navbar {
            display: flex;
            gap: 25px;

            li {
                list-style: none;
            }

            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: 18px;
                margin-top: 5%;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;

            }

            a:hover {
                color: #ffffff;
            }

            a:hover:after {
                width: 100%;
            }

        }
    }
}

@media (max-width: 576px) {
    .footer {
        grid-area: footer;
        background-color: $palette-color6;
        
        width: 100%;
        img {
            width: 120px;
            position: relative;
            left: 45%;
            top: 10%;
        }

        .navbar {
            margin-top: 1%;
            display: flex;
            justify-content: center;
        }

        .ul__navbar {
            display: flex;
            gap: 10px;
            padding-top: 2%;
            li {
                list-style: none;
            }

            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: $font-size-header-sm;
                margin-top: 5%;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;

            }

            a:hover {
                color: #ffffff;
            }

            a:hover:after {
                width: 100%;
            }

        }
    }
}
@media (max-width: 475px) {
    .footer {
        grid-area: footer;
        background-color: $palette-color6;
        width: 100%;
        img {
            padding-top: 2%;
            width: 100px;
            position: relative;
            left: 40%;
        }

        .navbar {
            margin-top: 2%;
            display: flex;
            justify-content: center;
        }

        .ul__navbar {
            display: flex;
            gap: 10px;
            margin-right: 4%;
            padding-top: 2%;
            li {
                list-style: none;
            }

            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: $font-size-header-sm;
                margin-top: 0;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            a:after {
                content: "";
                position: absolute;
                background-color: white;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;

            }

            a:hover {
                color: #ffffff;
            }

            a:hover:after {
                width: 100%;
            }

        }
    }
}