.header{
    grid-area: header;
}
.navbar{

    background-color: $palette-color1;
    .logo{
        width: 150px;
        height: 40px;
        margin-bottom: 1%;
    }
    .nav-link{
        color: $palette-color5;
    }
}