.header {
    grid-area: header;
}

.navbar {
    height: 130%;
    background-color: $palette-color1;
.container__logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .a__logo{
        flex-direction: column;
        width: 15%;
    }
    .div__logo {
        
        width: 100%;
        .logo {
            width: 100%;
        }
    }
    .hamburguer{
        width: 20%;
    }
    .nav-link {
        color: $palette-color5;
    }
}


   

    
}