.header {
    grid-area: header;
}

.navbar {

    background-color: $palette-color1;
.container__logo{
    display: flex;
    flex-direction: column;
    .a__logo{
        flex-direction: column;
    }
    .div__logo {
        
        width: 15%;
        flex-direction: column;
        .logo {
            width: 100%;
        }
    }
}

   

    .nav-link {
        color: $palette-color5;
    }
}