/*css Index*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "header";
@import "empresa";
@import "contacto";
@import "aside";
@import "servicios";

body {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body

.grid-container-index {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 'header header'
        'main aside'
        'footer footer';
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
}

.header__index {
    grid-area: header;
    } 

.main-index {
    grid-area: main;
    text-align: center;

    h3 {
        color: aliceblue;
        margin-left: 5%;
        margin-top: 20%;
        font-size: 60px;
        font-family: 'Bebas Neue', cursive;
    }

    button {
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        width: 20%;
        height: 15%;
        background: transparent;
        color: white;
        border: 2px solid #555555;
        padding: 20px;
        border-radius: 6px;
    }

    a button:hover {
        background: #2079b0;
        background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
        background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
        text-decoration: none;
        filter: opacity(.7);
    }
}




.aside-index {
    grid-area: aside;
    margin-left: 25%;


    img {
        width: 350px;
    }
}

.footer-index {
    grid-area: footer;

    p {
        margin-left: 50px;
    }
}



/*Css media query index*/

@media (max-width: 700px) {
    .grid-container-index {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas: 'header header'
            'main aside'
            'footer footer';
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto auto;
    }

    .header__index {
        grid-area: header;

        .nav__logo {

            width: 150px;
        }

        .nav__label {
            display: block;
            cursor: pointer;
        }

        .nav__menu {
            position: fixed;
            top: 80px;
            bottom: 0;
            background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
            width: 100%;
            left: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
        }

        .nav__input:checked+.nav__menu {
            clip-path: circle(100% at center);
        }
    }

    .main-index {
        grid-area: main;
        text-align: center;


        h3 {
            color: aliceblue;
            margin-left: 5%;
            margin-top: 20%;
            font-size: 60px;
            font-family: 'Bebas Neue', cursive;
        }

        button {
            font-family: 'Karla', sans-serif;
            font-size: 30px;
            width: 270px;
            height: 15%;
            background: transparent;
            color: white;
            border: 2px solid #555555;
            padding: 20px;
            border-radius: 6px;


            a button:hover {
                background: #2079b0;
                background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
                background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
                background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
                background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
                background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
                text-decoration: none;
                filter: opacity(.7);
            }
        }
    }

    .aside-index {
        grid-area: aside;
        margin-left: 5%;


        img {
            width: 270px;
        }
    }

    .footer-index {
        grid-area: footer;

        p {
            margin-left: 20px;
        }
    }
}


/*Css media query productos*/

@media (max-width: 700px) {

    /*Container Productos query*/
    .grid__container__productos {
        margin-left: 5%;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: 'header header header'
            'main main aside'
            'footer footer footer';
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: auto auto auto;
    }

    /*Main Productos query*/
    .main__productos {
        grid-area: main;
    }

    .main__productos h1 {
        text-align: center;
    }

    .main__section__productos {
        display: grid;
        grid-template-areas: "div1 div2 div3"
            "div4 div5 div6"
            "div7 div8 div9";
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }

    .main__section__productos__div {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1px;
        text-align: center;
        font-size: 8px;
        justify-content: center;
        align-items: center;
        margin: 2px;
        border: 1px solid white;
    }

    .main__section__productos__img {
        width: 135px;
        height: 120px;
    }

    .button_productos {
        width: 70px;
        height: 25px;
        background-color: transparent;
        border: 2px solid white;
    }

    .div__p__button {
        display: flex;
        gap: 10px;
        margin-top: 10px;

    }

    .div__p__button p {
        font-size: 12px;
    }

    /*Aside productos query*/
    .aside__empresa {
        grid-area: aside;
    }

    .div__aside__productos {
        margin-left: 10%;
        margin-top: 20%;
        text-align: start;
        border: 2px solid #CCCCCC;
        padding: 10px;
        border-radius: 10px;
        height: 100%;
        width: 70%;
        background-color: transparent;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .div__aside__productos__ul {
        list-style: none;
        padding: 0;
    }

    .div__aside__productos__ul__li {
        padding-top: 5rem;
    }

    .div__aside__productos__ul__li__a {
        text-decoration: none;
        color: white;
    }

    .div__icons__productos {
        display: flex;
        margin-top: 20px;
        padding-left: 1px;


    }

    .icon__aside {
        width: 20px;
    }

}

