/*css Index*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:ital,wght@0,100;0,300;0,500;1,700;1,900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../pages/contacto/contacto.scss";
@import "../pages/contacto/loader__contacto.scss";
@import "../pages/empresa/empresa.scss";
@import "../pages/servicios/servicios.scss";
@import "../pages/servicios/loader__servicios.scss";
@import "../pages/productos/productos.scss";
@import "variables";
@import "header";
@import "loader";
@import "footer";
@import "aside";

/*Main scss*/

body {

    font-family: 'Roboto', sans-serif;

    .div__grid {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

.body__index {
    background-color: #fff;
    width: 100%;
    height: 100%;

    .section__index__top {
        grid-area: main;
        height: 72%;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .div__p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 10%;


            h1 {
                color: $palette-color1;
                font-size: 50px;
                font-weight: 900;
            }

            h3 {
                color: $palette-color4;
                font-size: 30px;
                font-weight: 700;
            }

            p {
                color: $palette-color4;
                font-weight: 400;
            }
        }

        .div__image {
            img {
                width: 500px;
            }
        }

        .button__index {
            color: #303136;
            border-color: #303136;
            height: 50px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 10px;
            background-color: transparent;
            border-radius: 5%;
            cursor: pointer;
        }

        .button__index:hover {
            background-color: $palette-color1;
            cursor: pointer;
            color: white;
        }
    }

    .section__index__bottom {
        background-color: $palette-color3;
        grid-area: main;
        height: 75%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .div__image__bottom {
            width: 50%;

            padding-left: 5%;

            img {
                width: 600px;

            }

            .div__sucursales {
                h3 {
                    margin-top: 4%;
                    margin-bottom: 2%S;
                    color: $palette-color5;
                }

                ul {
                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            box-shadow: inset 0 0 0 0 $palette-color1;
                            color: $palette-color5;
                            margin: 0 -.25rem;
                            padding: 0 .25rem;
                            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                        }

                        a:hover {
                            box-shadow: inset 100px 0 0 0 $palette-color1;
                            color: white;
                        }
                    }
                }
            }
        }

        .div__p__bottom {
            width: 50%;
            text-align: center;

            p {
                font-size: 20px;
                color: $palette-color5;

            }
        }
    }


}


/*Css media query index*/
@media (max-width: 1400px) {

    /*Main scss*/

    body {

        font-family: 'Roboto', sans-serif;

        .div__grid {
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    }

    .body__index {
        background-color: #fff;
        width: 100%;
        height: 100%;

        .section__index__top {
            grid-area: main;
            height: 72%;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .div__p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 10%;


                h1 {
                    color: $palette-color1;
                    font-size: 50px;
                    font-weight: 900;
                }

                h3 {
                    color: $palette-color4;
                    font-size: 30px;
                    font-weight: 700;
                }

                p {
                    color: $palette-color4;
                    font-weight: 400;
                }
            }

            .div__image {
                img {
                    width: 500px;
                }
            }

            .button__index {
                color: #303136;
                border-color: #303136;
                height: 50px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 10px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: $palette-color1;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            background-color: $palette-color3;
            grid-area: main;
            height: 75%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .div__image__bottom {
                width: 50%;

                padding-left: 5%;

                img {
                    width: 600px;

                }

                .div__sucursales {
                    h3 {
                        margin-top: 4%;
                        margin-bottom: 2%S;
                        color: $palette-color5;
                    }

                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 $palette-color1;
                                color: $palette-color5;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 $palette-color1;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                text-align: center;

                p {
                    font-size: 20px;
                    color: $palette-color5;

                }
            }
        }


    }
}

@media (max-width: 1200px) {

    /*Main scss*/

    body {

        font-family: 'Roboto', sans-serif;

        .div__grid {
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    }

    .body__index {
        background-color: #fff;
        width: 100%;
        height: 100%;

        .section__index__top {
            grid-area: main;
            height: 72%;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .div__p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 10%;


                h1 {
                    color: $palette-color1;
                    font-size: 50px;
                    font-weight: 900;
                }

                h3 {
                    color: $palette-color4;
                    font-size: 30px;
                    font-weight: 700;
                }

                p {
                    color: $palette-color4;
                    font-weight: 400;
                }
            }

            .div__image {
                img {
                    width: 500px;
                }
            }

            .button__index {
                color: #303136;
                border-color: #303136;
                height: 50px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 10px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: $palette-color1;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            background-color: $palette-color3;
            grid-area: main;
            height: 75%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .div__image__bottom {
                width: 50%;

                padding-left: 5%;

                img {
                    width: 600px;

                }

                .div__sucursales {
                    h3 {
                        margin-top: 4%;
                        margin-bottom: 2%S;
                        color: $palette-color5;
                    }

                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 $palette-color1;
                                color: $palette-color5;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 $palette-color1;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                text-align: center;

                p {
                    font-size: 20px;
                    color: $palette-color5;

                }
            }
        }


    }
}

@media (max-width: 992px) {

    /*Main scss*/

    body {

        font-family: 'Roboto', sans-serif;

        .div__grid {
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    }

    .body__index {
        background-color: #fff;
        width: 100%;
        height: 100%;

        .section__index__top {
            grid-area: main;
            height: 72%;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .div__p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 10%;


                h1 {
                    color: $palette-color1;
                    font-size: 50px;
                    font-weight: 900;
                }

                h3 {
                    color: $palette-color4;
                    font-size: 30px;
                    font-weight: 700;
                }

                p {
                    color: $palette-color4;
                    font-weight: 400;
                }
            }

            .div__image {
                img {
                    width: 500px;
                }
            }

            .button__index {
                color: #303136;
                border-color: #303136;
                height: 50px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 10px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: $palette-color1;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            background-color: $palette-color3;
            grid-area: main;
            height: 75%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .div__image__bottom {
                width: 50%;

                padding-left: 5%;

                img {
                    width: 600px;

                }

                .div__sucursales {
                    h3 {
                        margin-top: 4%;
                        margin-bottom: 2%S;
                        color: $palette-color5;
                    }

                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 $palette-color1;
                                color: $palette-color5;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 $palette-color1;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                text-align: center;

                p {
                    font-size: 20px;
                    color: $palette-color5;

                }
            }
        }


    }
}

@media (max-width: 768px) {
    /*Main scss*/

    body {

        font-family: 'Roboto', sans-serif;

        .div__grid {
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    }

    .body__index {
        background-color: #fff;
        width: 100%;
        height: 100%;

        .section__index__top {
            grid-area: main;
            height: 72%;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .div__p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 10%;


                h1 {
                    color: $palette-color1;
                    font-size: 50px;
                    font-weight: 900;
                }

                h3 {
                    color: $palette-color4;
                    font-size: 30px;
                    font-weight: 700;
                }

                p {
                    color: $palette-color4;
                    font-weight: 400;
                }
            }

            .div__image {
                img {
                    width: 500px;
                }
            }

            .button__index {
                color: #303136;
                border-color: #303136;
                height: 50px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 10px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: $palette-color1;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            background-color: $palette-color3;
            grid-area: main;
            height: 75%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .div__image__bottom {
                width: 50%;

                padding-left: 5%;

                img {
                    width: 600px;

                }

                .div__sucursales {
                    h3 {
                        margin-top: 4%;
                        margin-bottom: 2%S;
                        color: $palette-color5;
                    }

                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 $palette-color1;
                                color: $palette-color5;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 $palette-color1;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                text-align: center;

                p {
                    font-size: 20px;
                    color: $palette-color5;

                }
            }
        }


    }

}

@media (max-width: 576px) {
    /*Main scss*/

    body {

        font-family: 'Roboto', sans-serif;

        .div__grid {
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    }

    .body__index {
        background-color: #fff;
        width: 100%;
        height: 100%;

        .section__index__top {
            grid-area: main;
            width: 100%;
            padding-top: 12%;
            display: flex;
            justify-content: space-around;

            .div__p {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                text-align: center;
                padding-left: 10%;


                h1 {
                    color: $palette-color1;
                    font-size: 25px;
                    font-weight: 900;
                }

                h3 {
                    color: $palette-color4;
                    font-size: 15px;
                    font-weight: 700;
                }

                p {
                    display: none;
                }
            }

            .div__image {
                img {
                    width: 200px;
                }
            }

            .button__index {
                color: #303136;
                border-color: #303136;
                height: 35px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 10px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
                font-size: small;
            }

            .button__index:hover {
                background-color: $palette-color1;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            background-color: $palette-color3;
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .div__image__bottom {
                width: 50%;

                padding-left: 5%;

                img {
                    width: 150px;

                }

                .div__sucursales {
                    h3 {
                        margin-top: 4%;
                        color: $palette-color5;
                        font-size: medium;
                    }

                    ul {
                        li {
                            list-style: none;
                            font-size: small;
                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 $palette-color1;
                                color: $palette-color5;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 $palette-color1;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                text-align: center;

                p {
                    font-size: small;
                    color: $palette-color5;

                }
            }
        }


    }

}

@media (max-width: 475px) {
    /*Main scss*/

    body {

        font-family: 'Roboto', sans-serif;

        .div__grid {
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    }

    .body__index {
        background-color: #fff;
        width: 100%;
        height: 100%;

        .section__index__top {
            grid-area: main;
            width: 100%;
            padding-top: 12%;
            display: flex;
            justify-content: space-around;

            .div__p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding-left: 10%;


                h1 {
                    color: $palette-color1;
                    font-size: 25px;
                    font-weight: 900;
                }

                h3 {
                    color: $palette-color4;
                    font-size: 15px;
                    font-weight: 700;
                }

                p {
                    display: none;
                }
            }

            .div__image {
                margin-top: 5%;
                padding-right: 5%;
                img {
                    width: 130px;
                }
            }

            .button__index {
                color: #303136;
                border-color: #303136;
                height: 35px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 10px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
                font-size: small;
            }

            .button__index:hover {
                background-color: $palette-color1;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            background-color: $palette-color3;
            width: 100%;
            height: 90%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .div__image__bottom {
                width: 40%;
                margin-top: 25%;
                padding-left: 5%;

                img {
                    width: 150px;

                }

                .div__sucursales {
                    h3 {
                        margin-top: 4%;
                        color: $palette-color5;
                        font-size: medium;
                    }

                    ul {
                        padding-left: 0;
                        li {
                            list-style: none;
                            font-size: small;
                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 $palette-color1;
                                color: $palette-color5;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 $palette-color1;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                margin-top: 32%;
                width: 60%;
                text-align: center;

                p {
                    font-size: small;
                    color: $palette-color5;

                }
            }
        }


    }

}