/*css Index*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:ital,wght@0,100;0,300;0,500;1,700;1,900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../pages/contacto/contacto.scss";
@import "../pages/contacto/loader__contacto.scss";
@import "../pages/empresa/empresa.scss";
@import "../pages/servicios/servicios.scss";
@import "../pages/servicios/loader__servicios.scss";
@import "../pages/productos/productos.scss";
@import "variables";
@import "header";
@import "loader";
@import "footer";
@import "aside";

/*Main scss*/

body {

    font-family: 'Roboto', sans-serif;
    .div__grid {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
}

.body__index {
    background-color:#fff;
    width: 100%;
    height: 100%;

    .section__index__top {
        grid-area: main;
        height: 72%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .div__p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 10%;


            h1 {
                color: $palette-color1;
                font-size: 50px;
                font-weight: 900;
            }

            h3 {
                color: $palette-color4;
                font-size: 30px;
                font-weight: 700;
            }

            p {
                color: $palette-color4;
                font-weight: 400;
            }
        }

        .div__image {
            img {
                width: 500px;
            }
        }

        .button__index {
            color: #303136;
            border-color: #303136;
            height: 50px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 10px;
            background-color: transparent;
            border-radius: 5%;
            cursor: pointer;
        }

        .button__index:hover {
            background-color: $palette-color1;
            cursor: pointer;
            color: white;
        }
    }

    .section__index__bottom {
        background-color: $palette-color3;
        grid-area: main;
        height: 75%;
        width: 100%;
        display: flex;
        align-items: center;
       justify-content: center;

        .div__image__bottom {
            width: 50%;

            padding-left: 5%;

            img {
                width: 600px;

            }

            .div__sucursales {
                ul {
                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            box-shadow: inset 0 0 0 0 $palette-color1;
                            color: $palette-color5;
                            margin: 0 -.25rem;
                            padding: 0 .25rem;
                            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                        }

                        a:hover {
                            box-shadow: inset 100px 0 0 0 $palette-color1;
                            color: white;
                        }
                    }
                }
            }
        }

        .div__p__bottom {
            width: 50%;
            text-align: center;

            p {
                font-size:20px;
                color: $palette-color5;

            }
        }
    }


}


/*Css media query index*/
@media (max-width: 1400px) {

    .body__index {
        width: 100%;
        height: 100%;

        .section__index__top {
            height: 50%;
            width: 100%;
            display: flex;
            background-color: #FFD743;
            text-align: center;
            .div__p {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 0;

                h1 {
                    color: white;
                    font-size: 60px;
                    font-weight: 900;
                }

                h3 {
                    color: #1C6E7D;
                    font-size: 35px;
                    font-weight: 700;
                }

                p {
                    font-weight: 400;
                    padding: 1px 10px;
                    
                }
            }

            .div__image {
                width: 50%;

                img {
                    width: 420px;
                }
            }

            .button__index {
                height: 40px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 25px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: #1C6E7D;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            height: 75vh;
            width: 100%;
            display: flex;

            .div__image__bottom {
                width: 45%;
                height: 100%;
                padding-top: 15%;
                padding-left: 5%;

                img {
                    width: 400px;

                }

                .div__sucursales {
                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 #54b3d6;
                                color: #54b3d6;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 #54b3d6;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                padding-top: 3%;
                padding-right: 25px;
                text-align: center;
                p {
                    font-size: 15px;
                    color: #1C6E7D;
                    padding-left: 55px;
                }
            }
        }


    }  
}
@media (max-width: 1200px) {

    .body__index {
        width: 100%;
        height: 100%;

        .section__index__top {
            height: 50%;
            width: 100%;
            display: flex;
            background-color: #FFD743;
            text-align: center;
            .div__p {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 0;

                h1 {
                    color: white;
                    font-size: 60px;
                    font-weight: 900;
                }

                h3 {
                    color: #1C6E7D;
                    font-size: 35px;
                    font-weight: 700;
                }

                p {
                    font-weight: 400;
                    padding: 1px 10px;
                    
                }
            }

            .div__image {
                width: 50%;

                img {
                    width: 420px;
                }
            }

            .button__index {
                height: 40px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 25px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: #1C6E7D;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            height: 75vh;
            width: 100%;
            display: flex;

            .div__image__bottom {
                width: 45%;
                height: 100%;
                padding-top: 15%;
                padding-left: 5%;

                img {
                    width: 400px;

                }

                .div__sucursales {
                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 #54b3d6;
                                color: #54b3d6;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 #54b3d6;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                padding-top: 3%;
                padding-right: 25px;
                text-align: center;
                p {
                    font-size: 15px;
                    color: #1C6E7D;
                    padding-left: 55px;
                }
            }
        }


    }  
}
@media (max-width: 992px) {
    
    .body__index {
        width: 100%;
        height: 100%;

        .section__index__top {
            height: 50%;
            width: 100%;
            display: flex;
            background-color: #FFD743;
            text-align: center;
            .div__p {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 0;

                h1 {
                    color: white;
                    font-size: 30px;
                    font-weight: 900;
                }

                h3 {
                    color: #1C6E7D;
                    font-size: 15px;
                    font-weight: 700;
                }

                p {
                    font-weight: 400;
                    padding: 1px 10px;
                    
                }
            }

            .div__image {
                width: 45%;
                margin-right: 10%;

                img {
                    width: 400px;
                }
            }

            .button__index {
                height: 30px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 20px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: #1C6E7D;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            height: 70vh;
            width: 100%;
            display: flex;

            .div__image__bottom {
                width: 45%;
                height: 100%;
                padding-top: 20%;
                padding-left: 5%;

                img {
                    width: 350px;

                }

                .div__sucursales {
                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 #54b3d6;
                                color: #54b3d6;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 #54b3d6;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                padding-top: 3%;
                padding-right: 25px;
                text-align: center;
                p {
                    font-size: 15px;
                    color: #1C6E7D;
                    padding-left: 55px;
                }
            }
        }


    }  
}
@media (max-width: 768px) {
    .body__index {
        width: 100%;
        height: 100%;

        .section__index__top {
            height: 50%;
            width: 100%;
            display: flex;
            background-color: #FFD743;

            .div__p {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 0;

                h1 {
                    color: white;
                    font-size: 30px;
                    font-weight: 900;
                }

                h3 {
                    color: #1C6E7D;
                    font-size: 15px;
                    font-weight: 700;
                }

                p {
                    font-weight: 400;
                }
            }

            .div__image {
                width: 45%;
                margin-right: 2%;

                img {
                    width: 400px;
                }
            }

            .button__index {
                height: 30px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 20px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: #1C6E7D;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            height: 70vh;
            width: 100%;
            display: flex;

            .div__image__bottom {
                width: 45%;
                height: 100%;
                padding-top: 20%;

                img {
                    width: 300px;

                }

                .div__sucursales {
                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 #54b3d6;
                                color: #54b3d6;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 #54b3d6;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                padding-top: 12%;
                padding-right: 25px;
                text-align: center;
                p {
                    font-size: 10px;
                    color: #1C6E7D;
                    padding-left: 55px;
                }
            }
        }


    }

}
@media (max-width: 576px) {
    .body__index {
        width: 100%;
        height: 100%;

        .section__index__top {
            height: 50%;
            width: 100%;
            display: flex;
            background-color: #FFD743;

            .div__p {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-left: 0;

                h1 {
                    color: white;
                    font-size: 30px;
                    font-weight: 900;
                }

                h3 {
                    color: #1C6E7D;
                    font-size: 15px;
                    font-weight: 700;
                }

                p {
                    font-weight: 400;
                }
            }

            .div__image {
                width: 45%;
                margin-right: 8%;
                margin-top: 18%;

                img {
                    width: 110%;
                }
            }

            .button__index {
                height: 30px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 20px;
                background-color: transparent;
                border-radius: 5%;
                cursor: pointer;
            }

            .button__index:hover {
                background-color: #1C6E7D;
                cursor: pointer;
                color: white;
            }
        }

        .section__index__bottom {
            height: 70vh;
            width: 100%;
            display: flex;

            .div__image__bottom {
                width: 45%;
                height: 100%;
                padding-top: 30%;

                img {
                    width: 280px;

                }

                .div__sucursales {
                    h3{
                        font-size: 20px;
                    }
                    ul {
                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                box-shadow: inset 0 0 0 0 #54b3d6;
                                color: #000;
                                margin: 0 -.25rem;
                                padding: 0 .25rem;
                                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            }

                            a:hover {
                                box-shadow: inset 100px 0 0 0 #54b3d6;
                                color: white;
                            }
                        }
                    }
                }
            }

            .div__p__bottom {
                width: 50%;
                padding-top: 8%;
                padding-right: 25px;
                text-align: center;
                p {
                    font-size: 10px;
                    color: #1C6E7D;
                    padding-left: 55px;
                }
            }
        }


    }

}
