/*Seccion Contacto*/
.container__contacto {
    width: 100%;
    height: 100%;
}

.grid__container__contacto {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

/*Header Contacto*/
.header__contacto {
    grid-area: "header";
    margin-bottom: 7%;
}

/*Main Contacto*/
.div__imagenPrincipal {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    border: 2px solid white;
    width: 71%;
    height: 27vh;
    background-image: url(/images/index3.jpeg);
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    h1 {
        color: white;
    }
}
.form{
    margin-left: 5%;
}
/*iframe contacto*/
.iframe__contact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iframe__contacto {
    width: 50%;
    height: 200px;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom:5%;

    /*Footer Contacto*/
}

.footer-contacto {
    grid-area: footer;
    margin-top: 10%;
    margin-left: 2%;

    p {
        color: white;
    }
}

/*Media querys Contacto*/
@media (max-width: 1400px) {

   
   /*Seccion Contacto*/
.container__contacto {
    width: 100%;
    height: 100%;
}

.grid__container__contacto {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

/*Header Contacto*/
.header__contacto {
    grid-area: "header";
    margin-bottom: 7%;
}

/*Main Contacto*/
.div__imagenPrincipal {
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    border: 2px solid white;
    width: 98%;
    height: 27vh;
    background-image: url(/images/index3.jpeg);
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    h1 {
        color: white;
    }
}
.form{
    margin-left: 1%;
}
/*iframe contacto*/
.iframe__contact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iframe__contacto {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom:5%;

    /*Footer Contacto*/
}
.row{
    margin: 0;
    padding: 0;
}
.footer-contacto {
    grid-area: footer;
    margin-top: 10%;
    margin-left: 2%;

    p {
        color: white;
    }
}
}

@media (max-width: 1200px) {

 
   /*Seccion Contacto*/
.container__contacto {
    width: 100%;
    height: 100%;
}

.grid__container__contacto {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

/*Header Contacto*/
.header__contacto {
    grid-area: "header";
    margin-bottom: 7%;
}

/*Main Contacto*/
.div__imagenPrincipal {
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    border: 2px solid white;
    width: 98%;
    height: 27vh;
    background-image: url(/images/index3.jpeg);
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    h1 {
        color: white;
    }
}
.form{
    margin-left: 1%;
}
/*iframe contacto*/
.iframe__contact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iframe__contacto {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom:5%;

    /*Footer Contacto*/
}
.row{
    margin: 0;
    padding: 0;
}
.footer-contacto {
    grid-area: footer;
    margin-top: 10%;
    margin-left: 2%;

    p {
        color: white;
    }
}
}

@media (max-width: 992px) {

    
   /*Seccion Contacto*/
.container__contacto {
    width: 100%;
    height: 100%;
}

.grid__container__contacto {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

/*Header Contacto*/
.header__contacto {
    grid-area: "header";
    margin-bottom: 7%;
}

/*Main Contacto*/
.div__imagenPrincipal {
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    border: 2px solid white;
    width: 98%;
    height: 27vh;
    background-image: url(/images/index3.jpeg);
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    h1 {
        color: white;
    }
}
.form{
    margin-left: 1%;
}
/*iframe contacto*/
.iframe__contact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iframe__contacto {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom:5%;

    /*Footer Contacto*/
}
.row{
    margin: 0;
    padding: 0;
}
.footer-contacto {
    grid-area: footer;
    margin-top: 10%;
    margin-left: 2%;

    p {
        color: white;
    }
}
}

@media (max-width: 768px) {

   /*Seccion Contacto*/
.container__contacto {
    width: 100%;
    height: 100%;
}

.grid__container__contacto {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

/*Header Contacto*/
.header__contacto {
    grid-area: "header";
    margin-bottom: 7%;
}

/*Main Contacto*/
.div__imagenPrincipal {
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    border: 2px solid white;
    width: 98%;
    height: 27vh;
    background-image: url(/images/index3.jpeg);
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    h1 {
        color: white;
    }
}
.form{
    margin-left: 1%;
}
/*iframe contacto*/
.iframe__contact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iframe__contacto {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom:5%;

    /*Footer Contacto*/
}
.row{
    margin: 0;
    padding: 0;
}
.footer-contacto {
    grid-area: footer;
    margin-top: 10%;
    margin-left: 2%;

    p {
        color: white;
    }
}
}

@media (max-width: 576px) {

  /*Seccion Contacto*/
.container__contacto {
    width: 100%;
    height: 100%;
}

.grid__container__contacto {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

/*Header Contacto*/
.header__contacto {
    grid-area: "header";
    margin-bottom: 7%;
}

/*Main Contacto*/
.div__imagenPrincipal {
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    border: 2px solid white;
    width: 98%;
    height: 27vh;
    background-image: url(/images/index3.jpeg);
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    h1 {
        color: white;
    }
}
.form{
    margin-left: 5%;
}
/*iframe contacto*/
.iframe__contact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iframe__contacto {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom:5%;

    /*Footer Contacto*/
}
.row{
    margin: 0;
    padding: 0;
}
.footer-contacto {
    grid-area: footer;
    margin-top: 10%;
    margin-left: 2%;

    p {
        color: white;
    }
}
}