/*Variables*/
$font-color: #fff;
$font-title: #000;

/*Seccion Servicios*/
.body__servicios {
    background-color: $font-color;
}

.grid__container__servicios {
    display: grid;
    grid-template-areas:
        "main aside"
        "footer footer";
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
}

.main__servicios {
    grid-area: main;
    margin-left: 5%;
    width: 100%;
}

/*Main servicios*/
.div__titulo {
    display: flex;
    border: 2px solid white;
    width: 70%;
    height: 30vh;
    background-image: url(../images/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 3% 0 3% 0;
    padding-right: 20px;

    h1 {
        color: $font-color;
    }
}

.section__parrafos {
    width: 60%;
    text-align: start;
}

.section__parrafos {
    h2 {
        text-align: center;
        color: $font-title;
    }
}

.anchor__presupuesto {
    text-decoration: none;
    padding: 35%;

    .button__presupuesto {
        padding-bottom: 5%;
        padding-top: 5%;
        align-items: center;
        background-color: #ef5349;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-family: Inter, sans-serif;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        a {
            text-decoration: none;
        }
    }

    .button__presupuesto:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .button__presupuesto:hover:after {
        transform: translate(0, 0);
    }

    .button__presupuesto:active {
        background-color: #ffdeda;
        outline: 0;
    }

    .button__presupuesto:hover {
        outline: 0;
    }
}

/*Aside Servicios*/
.div__aside__servicios {
    margin-left: 15%;
    margin-top: 3%;
    border: 2px solid #CCCCCC;
    padding: 10px;
    border-radius: 10px;
    height: 59%;
    width: 40%;
    background-color: rgb(245, 241, 241);

    h2 {
        text-align: center;
        color: black;
    }


    .div__aside__ul {
        list-style: none;
        padding: 0;
        font-size: 25px;
        text-align: start;
    }

    .div__aside__ul__li {
        padding-top: 5rem;
        list-style: none;
    }

    .div__aside__ul__li__a {
        text-decoration: none;
        color: black;

    }

    .div__icons {
        padding-top: 30%;
        display: flex;
        justify-content: space-around;


    }

    .icon__aside {
        width: 50px;
    }


}

.footer__servicios {
    grid-area: footer;
    margin-top: 15%;

    p {
        margin-left: 50px;
        color: #222;
    }
}

/*Section servicios query*/
@media (max-width: 1400px) {

    /*Seccion Servicios*/
    .body__servicios {
        background-color: $font-color;
    }

    .grid__container__servicios {
        display: grid;
        grid-template-areas:
            "main aside"
            "footer footer";
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
    }

    .main__servicios {
        grid-area: main;
        margin-left: 5%;
        width: 100%;
    }

    /*Main servicios*/
    .div__titulo {
        display: flex;
        border: 2px solid white;
        width: 70%;
        height: 30vh;
        background-image: url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 3% 0 3% 0;
        padding-right: 20px;

        h1 {
            color: $font-color;
        }
    }

    .section__parrafos {
        width: 60%;
        text-align: start;
    }

    .section__parrafos {
        h2 {
            text-align: center;
            color: $font-title;
        }
    }

    .anchor__presupuesto {
    text-decoration: none;


    .button__presupuesto {
        padding-bottom: 5%;
        padding-top: 5%;
        align-items: center;
        background-color: #ef5349;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-family: Inter, sans-serif;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        a {
            text-decoration: none;
        }
    }

    .button__presupuesto:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .button__presupuesto:hover:after {
        transform: translate(0, 0);
    }

    .button__presupuesto:active {
        background-color: #ffdeda;
        outline: 0;
    }

    .button__presupuesto:hover {
        outline: 0;
    }
}


    /*Aside Servicios*/
    .div__aside__servicios {
        margin-left: 15%;
        margin-top: 3%;
        border: 2px solid #CCCCCC;
        padding: 10px;
        border-radius: 10px;
        height: 59%;
        width: 40%;
        background-color: rgb(245, 241, 241);

        h2 {
            text-align: center;
            color: black;
        }


        .div__aside__ul {
            list-style: none;
            padding: 0;
            font-size: 25px;
            text-align: start;
        }

        .div__aside__ul__li {
            padding-top: 5rem;
            list-style: none;
        }

        .div__aside__ul__li__a {
            text-decoration: none;
            color: black;

        }

        .div__icons {
            padding-top: 30%;
            display: flex;
            justify-content: space-around;


        }

        .icon__aside {
            width: 50px;
        }


    }

    .footer__servicios {
        grid-area: footer;
        margin-top: 5%;

        p {
            margin-left: 50px;
            color: #222;
        }
    }
}

@media (max-width: 1200px) {

    /*Seccion Servicios*/
    .body__servicios {
        background-color: $font-color;
    }

    .grid__container__servicios {
        display: grid;
        grid-template-areas:
            "main aside"
            "footer footer";
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
    }

    .main__servicios {
        grid-area: main;
        margin-left: 5%;
        width: 100%;
    }

    /*Main servicios*/
    .div__titulo {
        display: flex;
        border: 2px solid black;
        width: 70%;
        height: 30vh;
        background-image: url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 3% 0 3% 0;
        padding-right: 20px;

        h1 {
            color: $font-color;
        }
    }

    .section__parrafos {
        width: 60%;
        text-align: start;
    }

    .section__parrafos {
        h2 {
            text-align: center;
            color: $font-title;
        }
    }

    .anchor__presupuesto {
        text-decoration: none;
    
    
        .button__presupuesto {
            padding-bottom: 5%;
            padding-top: 5%;
            align-items: center;
            background-color: #ef5349;
            border: 2px solid #111;
            border-radius: 8px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Inter, sans-serif;
            font-size: 16px;
            height: 48px;
            justify-content: center;
            line-height: 24px;
            max-width: 100%;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
    
            a {
                text-decoration: none;
            }
        }
    
        .button__presupuesto:after {
            background-color: #111;
            border-radius: 8px;
            content: "";
            display: block;
            height: 48px;
            left: 0;
            width: 100%;
            position: absolute;
            top: -2px;
            transform: translate(8px, 8px);
            transition: transform .2s ease-out;
            z-index: -1;
        }
    
        .button__presupuesto:hover:after {
            transform: translate(0, 0);
        }
    
        .button__presupuesto:active {
            background-color: #ffdeda;
            outline: 0;
        }
    
        .button__presupuesto:hover {
            outline: 0;
        }
    }
    /*Aside Servicios*/
    .div__aside__servicios {
        margin-left: 15%;
        margin-top: 3%;
        border: 2px solid #CCCCCC;
        padding: 10px;
        border-radius: 10px;
        height: 59%;
        width: 40%;
        background-color: rgb(245, 241, 241);

        h2 {
            text-align: center;
            color: black;
        }


        .div__aside__ul {
            list-style: none;
            padding: 0;
            font-size: 25px;
            text-align: start;
        }

        .div__aside__ul__li {
            padding-top: 5rem;
            list-style: none;
        }

        .div__aside__ul__li__a {
            text-decoration: none;
            color: black;

        }

        .div__icons {
            padding-top: 30%;
            display: flex;
            justify-content: space-around;


        }

        .icon__aside {
            width: 50px;
        }


    }

    .footer__servicios {
        grid-area: footer;
        margin-top: 5%;

        p {
            margin-left: 50px;
            color: #222;
        }
    }
}

@media (max-width: 992px) {

    /*Seccion Servicios*/
    .body__servicios {
        background-color: $font-color;
    }

    .grid__container__servicios {
        display: grid;
        grid-template-areas:
            "main aside"
            "footer footer";
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
    }

    .main__servicios {
        grid-area: main;
        margin-left: 5%;
        width: 100%;
    }

    /*Main servicios*/
    .div__titulo {
        display: flex;
        border: 2px solid black;
        width: 70%;
        height: 30vh;
        background-image: url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 3% 0 3% 0;
        padding-right: 20px;

        h1 {
            color: $font-color;
        }
    }

    .section__parrafos {
        width: 60%;
        text-align: start;
    }

    .section__parrafos {
        h2 {
            text-align: center;
            color: $font-title;
        }
    }

    .anchor__presupuesto {
        text-decoration: none;
    
    
        .button__presupuesto {
            padding-bottom: 5%;
            padding-top: 5%;
            align-items: center;
            background-color: #ef5349;
            border: 2px solid #111;
            border-radius: 8px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Inter, sans-serif;
            font-size: 16px;
            height: 48px;
            justify-content: center;
            line-height: 24px;
            max-width: 100%;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
    
            a {
                text-decoration: none;
            }
        }
    
        .button__presupuesto:after {
            background-color: #111;
            border-radius: 8px;
            content: "";
            display: block;
            height: 48px;
            left: 0;
            width: 100%;
            position: absolute;
            top: -2px;
            transform: translate(8px, 8px);
            transition: transform .2s ease-out;
            z-index: -1;
        }
    
        .button__presupuesto:hover:after {
            transform: translate(0, 0);
        }
    
        .button__presupuesto:active {
            background-color: #ffdeda;
            outline: 0;
        }
    
        .button__presupuesto:hover {
            outline: 0;
        }
    }

    /*Aside Servicios*/
    .div__aside__servicios {
        margin-left: 15%;
        margin-top: 3%;
        border: 2px solid #CCCCCC;
        padding: 10px;
        border-radius: 10px;
        height: 59%;
        width: 40%;
        background-color: rgb(245, 241, 241);

        h2 {
            text-align: center;
            color: black;
        }


        .div__aside__ul {
            list-style: none;
            padding: 0;
            font-size: 25px;
            text-align: start;
        }

        .div__aside__ul__li {
            padding-top: 5rem;
            list-style: none;
        }

        .div__aside__ul__li__a {
            text-decoration: none;
            color: black;

        }

        .div__icons {
            padding-top: 30%;
            display: flex;
            justify-content: space-around;


        }

        .icon__aside {
            width: 50px;
        }


    }

    .footer__servicios {
        grid-area: footer;
        margin-top: 5%;

        p {
            margin-left: 50px;
            color: #222;
        }
    }
}

@media (max-width: 768px) {

    /*Seccion Servicios*/
    .body__servicios {
        background-color: $font-color;
    }

    .grid__container__servicios {
        display: grid;
        grid-template-areas:
            "main aside"
            "footer footer";
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
    }

    .main__servicios {
        grid-area: main;
        margin-left: 5%;
        width: 100%;
    }

    /*Main servicios*/
    .div__titulo {
        display: flex;
        border: 2px solid black;
        width: 70%;
        height: 30vh;
        background-image: url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 3% 0 3% 0;
        padding-right: 20px;

        h1 {
            color: $font-color;
        }
    }

    .section__parrafos {
        width: 60%;
        text-align: start;
    }

    .section__parrafos {
        h2 {
            text-align: center;
            color: $font-title;
        }
    }

    .anchor__presupuesto {
        text-decoration: none;
    
    
        .button__presupuesto {
            padding-bottom: 5%;
            padding-top: 5%;
            align-items: center;
            background-color: #ef5349;
            border: 2px solid #111;
            border-radius: 8px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Inter, sans-serif;
            font-size: 16px;
            height: 48px;
            justify-content: center;
            line-height: 24px;
            max-width: 100%;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
    
            a {
                text-decoration: none;
            }
        }
    
        .button__presupuesto:after {
            background-color: #111;
            border-radius: 8px;
            content: "";
            display: block;
            height: 48px;
            left: 0;
            width: 100%;
            position: absolute;
            top: -2px;
            transform: translate(8px, 8px);
            transition: transform .2s ease-out;
            z-index: -1;
        }
    
        .button__presupuesto:hover:after {
            transform: translate(0, 0);
        }
    
        .button__presupuesto:active {
            background-color: #ffdeda;
            outline: 0;
        }
    
        .button__presupuesto:hover {
            outline: 0;
        }
    }

    /*Aside Servicios*/
    .div__aside__servicios {
        margin-left: 15%;
        margin-top: 3%;
        border: 2px solid #CCCCCC;
        padding: 10px;
        border-radius: 10px;
        height: 59%;
        width: 40%;
        background-color: rgb(245, 241, 241);

        h2 {
            text-align: center;
            color: black;
        }


        .div__aside__ul {
            list-style: none;
            padding: 0;
            font-size: 25px;
            text-align: start;
        }

        .div__aside__ul__li {
            padding-top: 5rem;
            list-style: none;
        }

        .div__aside__ul__li__a {
            text-decoration: none;
            color: black;

        }

        .div__icons {
            padding-top: 30%;
            display: flex;
            justify-content: space-around;


        }

        .icon__aside {
            width: 50px;
        }


    }

    .footer__servicios {
        grid-area: footer;
        margin-top: 5%;

        p {
            margin-left: 50px;
            color: #222;
        }
    }
}

@media (max-width: 576px) {

    /*Seccion Servicios*/
    .body__servicios {
        background-color: $font-color;
    }

    .grid__container__servicios {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .main__servicios {
        grid-area: main;
        margin-left: 5%;
        width: 90%;
    }

    /*Main servicios*/
    .div__titulo {
        display: flex;
        border: 2px solid black;
        width: 95%;
        height: 30vh;
        background-image: url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 3% 0 3% 0;
        padding-right: 20px;

        h1 {
            color: $font-color;
        }
    }

    .section__parrafos {
        width: 95%;
        text-align: start;
        margin-top: 10%;
        padding: 5%;
        border: #ef5349 2px double;
    }

    .section__parrafos {
        h2 {
            text-align: center;
            color: $font-title;
        }
    }

    .anchor__presupuesto {
        text-decoration: none;

    
    
        .button__presupuesto {
            padding-bottom: 5%;
            padding-top: 5%;
            align-items: center;
            background-color: #ef5349;
            border: 2px solid #111;
            border-radius: 8px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Inter, sans-serif;
            font-size: 16px;
            height: 48px;
            justify-content: center;
            line-height: 24px;
            max-width: 100%;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
    
            a {
                text-decoration: none;
            }
        }
    
        .button__presupuesto:after {
            background-color: #111;
            border-radius: 8px;
            content: "";
            display: block;
            height: 48px;
            left: 0;
            width: 100%;
            position: absolute;
            top: -2px;
            transform: translate(8px, 8px);
            transition: transform .2s ease-out;
            z-index: -1;
        }
    
        .button__presupuesto:hover:after {
            transform: translate(0, 0);
        }
    
        .button__presupuesto:active {
            background-color: #ffdeda;
            outline: 0;
        }
    
        .button__presupuesto:hover {
            outline: 0;
        }
    }

    /*Aside Servicios*/
    .div__aside__servicios {
        margin-left: 15%;
        margin-top: 3%;
        border: 2px solid #CCCCCC;
        padding: 10px;
        border-radius: 10px;
        height: 59%;
        width: 40%;
        background-color: rgb(245, 241, 241);

        h2 {
            text-align: center;
            color: black;
        }


        .div__aside__ul {
            list-style: none;
            padding: 0;
            font-size: 25px;
            text-align: start;
        }

        .div__aside__ul__li {
            padding-top: 5rem;
            list-style: none;
        }

        .div__aside__ul__li__a {
            text-decoration: none;
            color: black;

        }

        .div__icons {
            padding-top: 30%;
            display: flex;
            justify-content: space-around;


        }

        .icon__aside {
            width: 50px;
        }


    }


    
}